<html>
    <head>
        <!--bower:css-->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <!--endbower-->
        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular-mocks/angular-mocks.js"></script>
        <script src="/lib/moment/moment.js"></script>
        <!-- endbower -->
        
        <!--inject:css-->
        <link rel="stylesheet" href="/clock/clock.style.css">
        <!--endinject-->
        
        <!--inject:js-->
        <script src="/clock/clock.directive.js"></script>
        <!--endinject-->
    </head>
    <body>
        <h1>Even Newer title </h1>
        <div ng-app="app">
            <clock></clock>
        </div>
    </body>
</html>